{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="{% static "style.css" %}">
        <link rel="icon" href="{% static "W.jpg" %}">
    </head>
    <body>
        <nav>
            <a href="//{{ request.get_host }}" id="nav-title">Worldvote</a>
            <form action="search">
                <input type="text" id="nav-search" placeholder="Search" name="query">
            </form>
            {% if user %}
                <a href="//{{ request.get_host }}/logout" class="nav-link">Logout</a>
                <a href="//{{ request.get_host }}/account" class="nav-link">{{ user.name }}</a>
                <a href="//{{ request.get_host }}/recommended" class="nav-link">Recommendations</a>
                <!-- <a href="//{{ request.get_host }}/add" class="nav-link">Add</a> -->
            {% else %}
                <a href="//{{ request.get_host }}/register" class="nav-link">Register</a>
                <a href="//{{ request.get_host }}/login" class="nav-link">Login</a>
            {% endif %}
        </nav>
        <div id='blockContent'>
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
        </div>
    </body>
</html>