{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="{% static "style.css" %}">
    </head>
    <body>
        <nav>
            <a href="//{{ request.get_host }}" id="nav-title">Worldvote</a>
            <input type="text" id="nav-search" placeholder="Search">
            {% if user %}
                <a href="//{{ request.get_host }}/logout" class="nav-link">Logout</a>
                <a href="//{{ request.get_host }}/account" class="nav-link">{{ user.name }}</a>
                <a href="//{{ request.get_host }}/add" class="nav-link">Add</a>
            {% else %}
                <a href="//{{ request.get_host }}/register" class="nav-link">Register</a>
                <a href="//{{ request.get_host }}/login" class="nav-link">Login</a>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>