<!DOCTYPE html>
<html>
    <head>
        <title>Database</title>
        <style>
            ul {
                font-size: 18px;
                margin: 10px;
            }
            .name {
                font-size: 24px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h1>Worldvoters</h1>

        <ul>
        {% for user in users %}
            <hr>
            <ul>
                <li class="name">Name: {{ user.name }}</li>
                <li>Email: {{ user.email }}</li>
                <li>Score: {{ user.score }}</li>
            </ul>
            <img src="//{{ request.get_host }}/media/{{ user.imgurl }}" height="500px">
        {% endfor %}

        </ul>
    </body>
</html>