{% extends "base.html" %}
{% block title %}Worldvote - Register{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <table>
        <tr>
          <td class="label">
            Name
          </td>
          <td>
            <input type="text" name="name" value="{{nameInput}}">
          </td>
          <td class="error">
            {{nameError}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password1" value="">
          </td>
          <td class="error">
            {{passwordError}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="password2" value="">
          </td>
          <td class="error">
            {{verifyError}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email
          </td>
          <td>
            <input type="text" name="email" value="{{emailInput}}">
          </td>
          <td class="error">
            {{emailError}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Image
          </td>
          <td>
            <input type ="file" name="image">
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
{% endblock %}